$bgc: #0088CC

.Retrieval,.Retrieval-1,.Retrieval-2
    width: 100%
    height: 100%
.is-none
    display: none
.Retrieval-2
    display: none

.foot-btn
    width: 100%
    display: flex
    align-items: flex-end
    position: fixed
    bottom: 0
    background-color: #fff
    .btn
        width: 50%
        height: 5em
        line-height: 5em
        text-align: center
        border: 1px solid #dddddd
        box-sizing: border-box
        border-radius: 5px
        background: #ffffff
        color: $bgc 
    .active
        background: $bgc
        color: #ffffff
.retrieval
    width: 5em
    height: 5em
    line-height: 5em
    display: block
    text-align: center
    border: 1px solid #dddddd
    box-sizing: border-box
    background: #764ABC
    color: #ffffff
    border-radius: 50%
    position: fixed
    bottom: 0
    left: 0
    right: 0
    margin: 0 auto
    z-index: 1000