@import "@sass/variable.sass"
.home-nav
    display: inline-block
    width: 5em
    height: $nav-height
    font-weight: 650
    //background: #fff
    border: 1px solid #ddd
    box-sizing: border-box
    text-align: center
    line-height: $nav-height
    color: #000
    font-size: $nav-font-size
    border-radius: $nav-border-redius
    background-size: 100% 100%
    // box-shadow: $nav-box-shadow
    // margin-bottom: $nav-margin-bottom
    //margin-left: 2em
    //margin-top: -2em
    margin-bottom: 1em
    font-family: 'KaiTi'